*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #0D1A2D;
    font-family: 'Outfit', 'Josefin', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    font-size: 100%;
    line-height: 1.3;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.mob-card {
    width: 21.875em;
    height: 37.375em;
    background: #15273F;
    border-radius: 1em;
}

img {
    width: 19.125em;
    height: 18.813em;
    border-radius:  0.688em;
    margin-top: 1.25em;
    margin-left: 1.30em;
    -webkit-border-radius: 0.688em;
    -moz-border-radius: 0.688em;
    -ms-border-radius: 0.688em;
    -o-border-radius: 0.688em;
    
}

.main-text {
    padding: 0px 26px 0px 26px;
}

h1 {
    font-size: 	1.3125rem;
    font-weight: 900;
    color: #E8EBEB;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    color: #a1a1a1;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 48%);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    /* Height of the footer */
}