*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #0D1A2D;
    font-family: 'Outfit', 'Josefin', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* color: #000000; */
    /* font-size: 100%; */
    line-height: 1.3;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.mob-card {
    width: 21.875rem;
    height: 37.375rem;
    background: #15273F;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}

img {
    width: 19.125em;
    height: 18.813em;
    border-radius: 11px;
    margin-top: 1.25em;
    margin-left: 1.30em;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
}

.main-text {
    padding: 0px 26px 0px 26px;
}

h1 {
    font-size: 1.3125rem;
    font-weight: 900;
    color: #E8EBEB;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    color: #a1a1a1;
}

.equilibrium-counter-icon {
    display: inline-flex;
    width: 100%;
    height: auto;
}

.eq-svg {
    width: 1em;
    height: 1em;
    margin: 1em .10em 0em 1.5em;
}

.equilibrium-counter-text {
    color: #5ACFD2;
}

.icon-clock {
    width: 1em;
    height: 1em;
    margin: 1em .4em 0em 6.81rem;
}

.clock-days {
    color: #97A4B6;
    width: 4.56rem;
    height: 1.38rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    /* Height of the footer */
}


/* .attribution { 
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 48%);
  } */