*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #0D1A2D;
    font-family: 'Outfit', 'Josefin', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* color: #000000; */
    /* font-size: 100%; */
    line-height: 1.3;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.mob-card {
    width: 21.88rem;
    height: 37.38rem;
    background: #15273F;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}


img {
    width: 19.13em;
    height: 18.81em;
    border-radius: 11px;
    margin-top: 1.25em;
    margin-left: 1.30em;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    position: absolute;
   /* z-index: 2;*/
}




.overlay {
    width: 19.13em;
    height: 18.81em;
    border-radius: 11px;
    margin-top: 1.25em;
    margin-left: 1.3em;
    position: relative;
    padding-top: 35%;
    padding-left: 35%;
    background: rgba(90, 207, 210, .5)
    
   /* z-index: 1;*/
    }
    
svg .overlay :hover {
  opacity: 0;
  
    
  
}

.main-text {
    padding: 0px 26px 0px 26px;
}

.title {
    font-size: .7rem;
    font-weight: 900;
    color: #E8EBEB;
}

.title :hover {
    color: #5ACFD2;
}

h2 {
    font-size: 16px;
    font-weight: 400;
    color: #a1a1a1;
}

.equilibrium-counter-icon {
    display: inline-flex;
    width: 100%;
    height: auto;
}

.eq-svg {
    width: 1em;
    height: 1em;
    margin: 1em .10em 0em 1.5em;
}

.equilibrium-counter-text {
    color: #5ACFD2;
}

.icon-clock {
    width: 1em;
    height: 1em;
    margin: 1em .4em 0em 6.89rem;
}

.clock-days {
    color: #97A4B6;
    width: 4.90rem;
    height: 1.38rem;
    position: relative;
}

.clock-days::after {
    content: ' ';
    height: 1px;
    width: 280px;
    position: absolute;
    background: rgba(90, 207, 210, .2);
    left: -213px;
    margin-top: 20px;
}

.image-avatar-container {
    display: flex;
}

.image-avatar {
    width: 2rem;
    height: auto;
    border-radius: 50%;
    border: 1px solid #FFFFFF;
    display: flex;
    margin-right: 1em;
    margin-top: 3em;
    margin-left: 1.5em;
}

.image-avatar-text {
    color: #97A4B6;
    margin-top: 2.5em;
    margin-right: 4px;
    margin-left: 4.5em;
}

.persons-name {
    color: #E6EBEB;
    margin-top: 2.5em;
    margin-left: .3em;
}

.persons-name :hover {
    color: #5ACFD2;
}

footer {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    height: 50px;
    margin-top: 80px;
    
    /* Height of the footer */
}

.attribution { 
    font-size: 11px;
    text-align: center;
    color: white;
    padding-top: 25px;
    padding-left: 2em;
    
}

.attribution a {
    color: hsl(228, 45%, 48%);
    margin-right: 25px;
  } 
